
	<div class="container">
		
		<div class="row">
			
			<div class="span6">
				&copy; @Html.Raw(DateTime.Now.Year.ToString()) <a href="http://www.quickenloans.com">Quicken Loans</a>, all rights reserved.
			</div> <!-- /span6 -->
			
			<div id="builtby" class="span6">
				<a href="mailto:bradpyne@quickenloans.com">Fullback / On Call Support</a>				
			</div> <!-- /.span6 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->