<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="FullBackEntities" connectionString="metadata=res://*/FullbackSQLDB.csdl|res://*/FullbackSQLDB.ssdl|res://*/FullbackSQLDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QLINTDBDEV1;initial catalog=FullBack;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>
  <rock.framework applicationId="200554">
    <environment name="Beta" xdt:Transform="SetAttributes(name)" />
  </rock.framework>
</configuration>